.ui.vertical.masthead.center.aligned.segment
    .ui.text.container
        h1.ui.header Hi, I'm Sean
        h2 I gravitate toward multi-disciplinary intersections
        //- p Photography | Design | Psychology | Mathematics | Computing | Physics
        .ui.divider
        #pages.ui.four.item.huge.secondary.menu.stackable
            a.item(routerLink="/about") About
            a.item(routerLink="/uiux") UI / UX Design
            a.item(routerLink="/backend") Backend
            a.item(routerLink="/photos") Photography
.ui.vertical.stripe.quote.segment
    .ui.equal.width.stackable.internally.celled.grid
        .center.aligned.row
            .column
                h3 Breadth
                p I love learning new technologies, getting my hands dirty, and witness its potential for myself.
                br
                p I am a unique problem solver due to a variety of experiences; ranging from leadership, to research.
            .column
                h3 Depth
                p I love diving in deep into a topic, accumulating an unshakeable mental model of it.
                br
                p I am a generalist, capable of being specialist when necessary, whilst melding cross-domain knowledge to aid in problem solving.
.ui.vertical.stripe.segment
    .ui.text.container
        h3.ui.header Breaking The Grid, Grabs Your Attention
        p
            | Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.
        a.ui.large.button Read More
        h4.ui.horizontal.header.divider
            a(href='#') Case Studies
        h3.ui.header Did We Tell You About Our Bananas?
        p
            | Yes I know you probably disregarded the earlier boasts as non-sequitur filler content, but its really true. It took years of gene splicing and combinatory DNA research, but our bananas can really dance.
        a.ui.large.button I'm Still Quite Interested
.ui.inverted.vertical.footer.segment
    .ui.container
        .ui.stackable.inverted.divided.equal.height.stackable.grid
            .three.wide.column
                h4.ui.inverted.header This is a footer!
                .ui.inverted.link.list
                    a.item.active Home
                    a.item About Me
                    a.item UI / UX Design
                    a.item Backend
                    a.item Photography
                    a.item Contact