.ui.padded.grid
    .row
        .column
            .ui.text.container
                .ui.header About Me
                p Under construction...
            .ui.text.container
                .ui.divider
                #pages.ui.four.item.huge.secondary.menu.stackable
                    a.item(routerLink="/about") About
                    a.item(routerLink="/uiux") UI / UX Design
                    a.item(routerLink="/backend") Backend
                    a.item(routerLink="/photos") Photography
                .ui.divider
