// Following Menu
//- .ui.large.top.fixed.hidden.menu
//-     .ui.container
//-         a.active.item Home
//-         a.item About Me
//-         a.item UI / UX Design
//-         a.item Backend
//-         a.item Photography
//-         a.item Contact
// Sidebar Menu
.ui.vertical.inverted.sidebar.menu
    a.active.item Home
    a.item About Me
    a.item UI / UX Design
    a.item Backend
    a.item Photography
    a.item Contact
router-outlet