.mobile.only
	@media only screen and (min-width: 700px)
		display none !important

.computer.only
	@media only screen and (max-width: 700px)
		display none !important

#topnav
	.react .image
		background dimgray

.pusher
	overflow-y scroll !important
	max-height 100% !important

.footer.segment
	padding 5em 0em
